eventlet
execnet
torch==2.2.0
sounddevice==0.4.2
opencv-python==4.8.1.78
pyttsx3==2.90
Flask
Flask-SocketIO
Flask-CORS
Flask-Session
Flask-Migrate
SQLAlchemy
python-dotenv
transformers
openai
google-generativeai
